body {
    background-color: darkslategray;
}


.off{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: black;
   
}

.on{
    background-color: blue;
}


.container{
    width: 90%;
    max-width: 600px;
   height: 600px;
    outline: solid 2px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-template-areas: 
    "element1 element1 element1  element2 element2 "
    "element1 element1 element1 element2 element2"
    "element3 element3 element3 element2 element2"
    "element3 element3 element3 element2 element2"
    "element4 element4 element4 element4 element4"
    ;
    margin: 0 auto;
    gap: 20px;
}

.element{
    /* width: 300px;
    height: 300px; */
    border: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.element1{
    background-color: aqua;
    grid-area: element1;
}
.element2{
    background-color: rgb(0, 81, 255);
    grid-area: element2;
}
.element3{
    background-color: rgb(255, 0, 76);
    grid-area: element3;
}
.element4{
    background-color: rgb(255, 145, 0);
    grid-area: element4;
}
.element5{
    background-color: rgb(0, 255, 115);
}
.element6{
    background-color: hsla(60, 76%, 3%, 0.884);
}

@media(min-width:750px){
    .container{
       
        grid-template-areas: 
        "element1 element1 element1  element2 element2 "
        "element1 element1 element1 element2 element2"
        "element3 element3 element3 element2 element2"
        "element3 element3 element3 element2 element2"
        "element4 element4 element4 element2 element2"
        ;
    }

}



